<div class="results" fxLayout="column" fxLayoutAlign="none">

    <div class="head">
        <h3>Results</h3>
        <h1 class="mat-display-2">Overview</h1>
    </div>

    <div class="overview" fxLayout="row" fxLayoutGap="1%">

        <!-- Template with ngFor (for future improvement) -->
        <!-- <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25" *ngFor="let item of resultTypes; let i = index;">
            
            <div class="icon">
                <fa-icon [icon]="item.icon" class="mat-display-1" *ngIf="item.icon != ''"></fa-icon>
                <p class="mat-display-1" *ngIf="item.title != ''">{{item.title}}</p>
            </div>

            <div class="title">
                <h1 class="mat-display-1">{{simulationResult.result.averageTime}}</h1>
                <p>{{item.subTitle}}</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>{{item.description}}</p>
            </mat-card-footer>
        </mat-card> -->
        
        <!-- Average -->
        <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25">
            <div class="icon">
                <p class="mat-display-1">AVG</p>
            </div>

            <div class="title">
                <h1 class="mat-display-1" *ngIf="simulationResult">{{simulationResult.data.result.averageTime}} sec</h1>
                <p>Average escape time</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>The average time needed to evacute the building</p>
            </mat-card-footer>
        </mat-card>

        <!-- Longest -->
        <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25">
            <div class="icon">
                <p class="mat-display-1">MAX</p>
            </div>

            <div class="title">
                <h1 class="mat-display-1"  *ngIf="simulationResult">{{simulationResult.data.result.longestTime}} sec</h1>
                <p>Longest escape time</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>The longest time needed to evacute the building</p>
            </mat-card-footer>
        </mat-card>

        <!-- Shortest -->
        <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25">
            <div class="icon">
                <p class="mat-display-1">MIN</p>
            </div>

            <div class="title">
                <h1 class="mat-display-1" *ngIf="simulationResult">{{simulationResult.data.result.shortestTime}} sec</h1>
                <p>Shortest escape time</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>The shortest time needed to evacute the building</p>
            </mat-card-footer>
        </mat-card>

        <!-- Nr of runs -->
        <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25">
            <div class="icon">
                <fa-icon [icon]="['fas', 'hashtag']" class="mat-display-1"></fa-icon>
            </div>

            <div class="title">
                <h1 class="mat-display-1" *ngIf="simulationResult">{{simulationResult.data.numberOfSimulations}}</h1>
                <p>Number of simulations run</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>The total number of simulations performed in order to get the best result</p>
            </mat-card-footer>
        </mat-card>

        <!-- Deaths -->
        <mat-card fxLayout="column" fxLayoutAlign="none center" fxFlex="24.25">
            <div class="icon">
                <fa-icon [icon]="['far', 'dizzy']" class="mat-display-1"></fa-icon>
            </div>

            <div class="title">
                <!-- <h1 class="mat-display-1" *ngIf="simulationResult">0</h1> -->
                <h1 class="mat-display-1" *ngIf="simulationResult">{{simulationResult.data.numberOfDeadPeople}}</h1>
                <p>Average deaths</p>
            </div>

            <mat-divider [inset]="true" style="margin-top: 20px;"></mat-divider>

            <mat-card-footer>
                <p class>The average number of people that failed to escape the building during evacuation</p>
            </mat-card-footer>
        </mat-card>
    </div>

    <!-- <h2>Useful Tips</h2>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <p class="mat-h3">Overall, the building’s safity is high level. The placement of doors is planned well. 
            However, in real case of fire, one fire extinguisher is not enough. Therefore, at 
            least one more should be placed. 
            <br>
            Tip for placing fire extinguisher: look for a place which is hard to get out of 1
            (there are no emergency exits near).
        </p>
    </mat-card> -->

    <h2>Choke Points</h2>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <app-display-map *ngIf="simulationResult" [chokePoints]="simulationResult.data.result.chokePoints"></app-display-map>
    </mat-card>

    <div class="controls" fxLayout="row" fxLayoutAlign="space-between">
        <button routerLink="/" mat-raised-button>BACK TO MAP</button>

        <div>
            <button mat-raised-button style="margin-right: 30px;">EXPORT RESULTS</button>
            <button mat-raised-button>SHOW DETAILS</button>
        </div>
    </div>
</div>