.results{
    background: #f8f8f8;
    color: #737373;
    padding: 2% 10%;
    min-height: 100vh;

    h1{
        margin-bottom: 20px;
    }    
    .overview{
        margin-bottom: 40px;
        width: 100%;

        mat-card{
            min-height: 300px;
            padding: 3% 2% 0 2%;
            
            .mat-display-1{
                margin: 0;
                color: #782982;
            }
            .title{
                margin-top: 30px;
                h1{
                    margin: 0;
                    color: #000;
                }
            }
            mat-card-footer{
                padding: 5% 5% 0 5%;
                height: 80px;
            }
        }
    }
    mat-card{
        text-align: center;
        padding: 5% 10%;
        color: #737373;
        margin-bottom: 20px;
    }
    .controls{
        margin: 40px 0;
        button{
            background-color: #782982;
            color: #fff;
            font-weight: normal;
            &:hover{
                background-color: #C580CF;
            }
        }
    }
}