.settings{
    background: #f8f8f8;
    color: #737373;
    padding: 2% 20%;
    min-height: 100vh;

    mat-card{
        color: rgba(0,0,0,.5);
        padding: 0;
        margin-bottom: 25px;
        mat-card-header{
            padding: 15px 20px 10px 0;
            background-color: #eee1f0;
            margin-bottom: 10px;
            span{
                color: #782982;
                margin-left: 5px;
            }
        }
        mat-card-content{
            padding: 10px;
            mat-slider{
                width: 80%;
                min-width: 200px;
            }
            .custom-slider {
                padding-left: 10px;
                width: calc(100% - 20px);
                height: auto;
                // margin-bottom: 10px;
            }
        }
    }

    .controls{
        margin: 40px 0;
        button{
            background-color: #782982;
            color: #fff;
            font-weight: normal;
            &:hover{
                background-color: #C580CF;
            }
        }
    }
}

.tooltip{
    background: #782982;
    color: #fff;
    font-size: 12px;
}