<div class="settings" fxLayout="column" fxLayoutAlign="none">
  <div class="head">
    <h3>Variable values</h3>
    <h1 class="mat-display-2" style="margin-bottom: 20px;">Settings</h1>
  </div>

  <!-- Form Start -->
  <form class="variables" [formGroup]="variablesForm" (ngSubmit)="onSubmit()">

    <!-- Number of Simulations -->
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>Number of Simulations: <span>({{numberOfRuns}})</span></mat-card-title>
        <fa-icon [icon]="['fas', 'question']"
          matTooltip="Determine the number of simulations that are run by the system" matTooltipClass="tooltip">
        </fa-icon>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-slider
                    [formControlName]="'numberOfRuns'"
                    min="1" max="500" step="1"
                    thumbLabel></mat-slider> -->
        <div class="slider-input" fxLayout="row">
          <div class="custom-slider">
            <ng5-slider [formControlName]="'numberOfRuns'" [(value)]="numberOfRuns"
              [options]="{ floor: 1, ceil: 500, step: 1, animate: false, showSelectionBar: true }">
            </ng5-slider>
          </div>
        </div>
        <p>Default: {{defaultNumberOfRuns}} Simulations</p>
      </mat-card-content>
    </mat-card>

    <!-- Number of People -->
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>Number of People: <span>({{numberOfPeople}})</span></mat-card-title>
        <fa-icon [icon]="['fas', 'question']"
          matTooltip="The number of people to be randomly placed by the system for the run of each simulation"
          matTooltipClass="tooltip"></fa-icon>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-slider
                    [formControlName]="'numberOfPeople'"
                    min="1" max="20" step="1"
                    thumbLabel></mat-slider> -->
        <div class="custom-slider">
          <ng5-slider [formControlName]="'numberOfPeople'" [(value)]="numberOfPeople"
            [options]="{ floor: 1, ceil: 20, step: 1, animate: false, showSelectionBar: true }">
          </ng5-slider>
        </div>
        <p>Default: {{defaultNumberOfPeople}} People</p>
      </mat-card-content>
    </mat-card>

    <!-- People Movement Speed -->
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>People Movement Speed: <span>({{peopleMS[0]}} - {{peopleMS[1]}}) m/s</span></mat-card-title>
        <fa-icon [icon]="['fas', 'question']"
          matTooltip="Adjust the runnig speed of each person. This is necessary to calculate the overall time it takes people to escape."
          matTooltipClass="tooltip"></fa-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="custom-slider">
          <ng5-slider [formControlName]="'peopleMS'" [(value)]="peopleMS[0]" [(highValue)]="peopleMS[1]"
            [options]="{ floor: .5, ceil: 5, step: 0.1, animate: false }"></ng5-slider>
        </div>
        <p>Default: ({{defaultPeopleMS[0]}} - {{defaultPeopleMS[1]}}) m/s</p>
      </mat-card-content>
    </mat-card>

    <!-- Cell Size -->
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>Cell Size: <span>({{cellSize}} cm)</span></mat-card-title>
        <fa-icon [icon]="['fas', 'question']"
          matTooltip="The size of each cell processed by the algorithm. This is necessary to calculate the overall time it takes people to escape"
          matTooltipClass="tooltip"></fa-icon>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-slider
                    [formControlName]="'cellSize'"
                    min="20" max="100" step="1"
                    thumbLabel></mat-slider> -->
        <div class="custom-slider">
          <ng5-slider [formControlName]="'cellSize'" [(value)]="cellSize"
            [options]="{ floor: 20, ceil: 100, step: 1, animate: false, showSelectionBar: true }">
          </ng5-slider>
        </div>
        <p>Default: {{defaultCellSize}} cm</p>
      </mat-card-content>
    </mat-card>

    <!-- Fire Spread Speed -->
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>Fire Spread Speed: <span>({{fireSpreadSpeed}}) m/s</span></mat-card-title>
        <fa-icon [icon]="['fas', 'question']"
          matTooltip="The speed of which a fire spreads from its tile to all adjacent tiles."
          matTooltipClass="tooltip"></fa-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="custom-slider">
          <ng5-slider [formControlName]="'fireSpreadSpeed'" [(value)]="fireSpreadSpeed"
            [options]="{ floor: 0.05, ceil: 1, step: 0.01, animate: false, showSelectionBar: true }">
          </ng5-slider>
        </div>
        <p>Default: {{defaultFireSpreadSpeed}} m/s</p>
      </mat-card-content>
    </mat-card>


    <!-- Control Buttons -->
    <div class="controls" fxLayout="row" fxLayoutAlign="space-between">
      <button routerLink="/" mat-raised-button type="button">BACK TO MAP</button>

      <div>
        <button mat-raised-button type="button" style="margin-right: 30px;" (click)="restore()">RESTORE
          DEFAULTS</button>
        <button mat-raised-button type="submit" [disabled]="!variablesForm.dirty">SAVE</button>
      </div>
    </div>

    <!-- Form End -->
  </form>

</div>
