/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-slider {
    .ng5-slider {
        width: 100%;

        .ng5-slider-pointer {
            width: 14px;
            height: 14px;
            top: -6px;
            background-color: #782982;
            outline: none;
            &:after {
                opacity: 0;
            }
        }
        .ng5-slider-bar {
            height: 2px;
            background-color: rgb(0, 0, 0, 0.25);
        }
        .ng5-slider-selection {
            background-color: #782982;
        }   
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
