<div [ngClass]="this.isSelected">
  <div class="cell" [ngClass]="currentNode.mapObject" (mouseover)="OnMouseEvent('over')" (mousedown)="OnMouseEvent('down')" (mouseup)="OnMouseEvent('up')">
    <div *ngIf="chokePointIndex > 0" class="choke-point" [ngClass]="GetClass()"></div>
  </div>
</div>

