.cell{
  width: 100%;
  padding-top: 100%;
  border: .3px solid #000;
  position: relative;
  &:hover{
    background-color: rgb(66, 0, 74, 0.8);
  }
}

// Different Elements Colors
.Door{
  background-color: rgb(214, 107, 0, .5);
}
.Wall{
  background-color: rgb(83, 62, 89, .5);
}
.Floor{
  background-color: rgb(248, 214, 89, .5);
}
.Exit{
  background-color: rgb(2, 140, 78, .5);
}

.selected{
  background-color: rgb(66, 0, 74, 0.3);
}

// Choke Point Style
.choke-point{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
// Color based on the intersections
.choke-5{
  background-color: #ff9c9c;
}
.choke-10{
  background-color: #de5d5d;
}
.choke-15{
  background-color: #cf3434;
}
.choke-20{
  background-color: #bf0000;
}