@mixin buttonSize($side){
  @if $side == right {
    width: 1px;
    height: calc(100% - 2px);
  }
  @else if $side == left{
    width: 1px;
    height: calc(100% - 2px);
  }
  @else if $side == bottom {
    width: calc(100% - 2px);
    height: 1px;
  }
  @else if $side == top {
    width: calc(100% - 2px);
    height: 1px;
  }
  @else{
    width: 1px;
    height: 1px;
  }
}

.home{
  height: 100vh;
  overflow: hidden;

  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .trigger{
      border: none;
      position: absolute;
      color: #fff;
      background-color: #782982;
      padding: 4px 11px;
      right: 2%;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      &:hover{
        cursor: pointer;
        background-color: #C580CF;
      }
      &:focus{
        outline: none;
      }
    }
  }

  .working-area{
    width: 100%;
    height: 100%;
  }

  .toolbar{
    position: fixed;
    left: 2%;
    top: calc(90px + 10%);
    z-index: 1;
  }
  .map-grid{
    margin-top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
    
    button{
      position: absolute;
      border: 0;
      padding: 0;
      color: #fff;
      background: rgba(0, 0, 0, .1);
    }
    #right{
      @include buttonSize(right);
      right: 0;
    }
    #left{
      @include buttonSize(left);
      left: 0;
    }
    #bottom{
      @include buttonSize(bottom);
      bottom: 0;
    }
    #top{
      @include buttonSize(top);
      top: 0;
    }
    #bottom-left{
      @include buttonSize('bottom-left');
      bottom: 0;
      left: 0;
    }
    #bottom-right{
      @include buttonSize('bottom-right');
      bottom: 0;
      right: 0;
    }
    #top-right{
      @include buttonSize('bottom-right');
      top: 0;
      right: 0;
    }
    #top-left{
      @include buttonSize('bottom-right');
      top: 0;
      left: 0;
    }
  }

  h1{
    font-size: 40px;
    opacity: .2;
    text-align: center;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }
  
  .scale-buttons{
    position: fixed;
    bottom: 8%;
    right: 5%;
    z-index: 1;

    button{
      border: 0;
      background: #782982;
      color: #fff;
      border-radius: 4px;
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover{
        background-color: #C580CF;
      }
      &:focus{
        outline: none;
      }
    }
  }
}


#map{
  width: 60%;
  height: 100%;
  position: absolute;
}