<div class="home" fxLayout="row" fxLayoutAlign="center center">

  <!-- Top Navigation -->
  <div class="header" [@openClose]="isOpen ? true : false">
    <app-nav></app-nav>
    <button class="trigger" (click)="OpenClose()">Show/Hide</button>
  </div>

  <!-- Working Area (if image set) -->
  <div class="working-area" *ngIf="getImage()" (click)="FullScreen()">

    <!-- Toolbar -->
    <div class="toolbar" cdkDrag cdkDragBoundary=".working-area">
      <app-tool-bar></app-tool-bar>
    </div>

    <!-- Map -->
    <div class="map-grid" id="screen" fxLayoutAlign="center center" [@showHide]="showHide ? true : false">
      <app-display-map id="map"></app-display-map>

      <!-- Sides -->
      <button id="right" (mouseenter)="MoveScreen('right')" (mouseleave)="Stop()"></button>
      <button id="left" (mouseenter)="MoveScreen('left')" (mouseleave)="Stop()"></button>
      <button id="bottom" (mouseenter)="MoveScreen('bottom')" (mouseleave)="Stop()"></button>
      <button id="top" (mouseenter)="MoveScreen('top')" (mouseleave)="Stop()"></button>

      <!-- Diagonals -->
      <button id="bottom-right" (mouseenter)="MoveScreen('bottom-right')" (mouseleave)="Stop()"></button>
      <button id="bottom-left" (mouseenter)="MoveScreen('bottom-left')" (mouseleave)="Stop()"></button>
      <button id="top-left" (mouseenter)="MoveScreen('top-left')" (mouseleave)="Stop()"></button>
      <button id="top-right" (mouseenter)="MoveScreen('top-right')" (mouseleave)="Stop()"></button>
    </div>

    <!-- Increade/decrease cell size buttons -->
    <div class="scale-buttons" fxLayout="column" *ngIf="getImage()">
     <button (click)="increaseCellSize()">+</button>
      <button (click)="decreaseCellSize()">-</button>
    </div>
  </div>

  <!-- Welcome message (if image unset) -->
  <div *ngIf="!getImage()" fxLayoutAlign="center center">
    <h1>Welcome to FERAS!</h1>
  </div>

</div>
