.container{
  width: 100%;
  height: 100%;
  position: relative;

  img{
    width: 100%;
  }

  .grid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .row{
      width: 100%;

      .col{
        width: 5%;
      }
    }
  }
}
