<div class="wrapper">
  <div class="container" *ngIf="getImage() != null" fxLayoutAlign="center center">
    <img [src]="this.getImage().imageBase64" (load)="setImage()" (window:resize)="setImage()" #container/>

    <div class="grid" *ngIf="getMap()">
      <div class="row" fxLayout="row" *ngFor="let i of counter(getMap().array.length); let x = index;">
        <div class="col" *ngFor="let i of counter(getMap().array[0].length); let y = index;">

          <app-map-cell [x]=y [y]=x [chokePointIndex]="SendIntersections(y, x)"></app-map-cell>

        </div>
      </div>
    </div>
  </div>
</div>
