<div class="toolbar mat-elevation-z3" fxLayout="column" fxLayoutAlign="none">
  <h3>Tools</h3>

  <div fxLayout="column" fxLayoutAlign="center center" (click)="changeBrush(currentBrush.Floor)">
    <fa-icon [icon]="['fas', 'expand']" class="mat-h2"></fa-icon>
    <p>Floor</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" (click)="changeBrush(currentBrush.Wall)">
    <fa-icon [icon]="['fas', 'border-all']" class="mat-h2"></fa-icon>
    <p>Wall</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" (click)="changeBrush(currentBrush.Door)">
    <fa-icon [icon]="['fas', 'door-closed']" class="mat-h2"></fa-icon>
    <p>Door</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" (click)="changeBrush(currentBrush.Exit)">
    <fa-icon [icon]="['fas', 'sign-out-alt']" class="mat-h2"></fa-icon>
    <p>Exit</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" style="border: none;" (click)="changeBrush(currentBrush.Eraser)">
    <fa-icon [icon]="['fas', 'eraser']" class="mat-h2"></fa-icon>
    <p>Eraser</p>
  </div>
</div>
