.toolbar{
  background: #782982;
  width: 70px;
  color: #fff;
  border-radius: 7px;
  text-align: center;

  h3{
    border-bottom: 1px solid #b4b4b4;
    margin: 0;
    cursor: move;
  }
  div{
    border-bottom: 1px solid #b4b4b4;
    padding: 5px 0;
    &:hover{
      background: #C580CF;
      cursor: pointer;
    }

    fa-icon, p{
      margin: 0;
    }
  }
}
