$primaryColor : #782982;
$primaryColorHover : #C580CF;

.nav {
  padding: 0 2%;
  height: 90px;
  background: $primaryColor;
  color: #fff;

  .controls{
    height: 100%;

    div{
      padding: 0 30px;
      &:hover{
        background-color: $primaryColorHover;
        cursor: pointer;
      }

      fa-icon{
        margin-bottom: 7px;
      }
      p{
        margin: 0;
        text-align: center;
      }
    }
  }
}

.upload-file-button{
  opacity: 0;
  height: 100%;
  width: 130px;
  position: absolute;
  &:hover{
    cursor: pointer;
  }
}
