<div class="nav mat-elevation-z3" fxLayout="row" fxLayoutAlign="space-between center">

  <!-- Undo/Redo -->
  <div class="controls" fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]="['fas', 'undo']" class="mat-headline"></fa-icon>
      <p>Undo</p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]="['fas', 'undo']" flip="horizontal" class="mat-headline"></fa-icon>
      <p>Redo</p>
    </div>

  </div>

  <!-- Main Controls -->
  <div class="controls" fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]="['fas', 'upload']" class="mat-headline"></fa-icon>
      <p>Upload Map</p>
      <input type="file" class="upload-file-button" (change)="onFileSelect($event)" accept='image/*'>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]="['fas', 'edit']" class="mat-headline"></fa-icon>
      <p>Create Map</p>
    </div>

    <div routerLink="/settings" fxLayout="column" fxLayoutAlign="center center">
      <fa-icon [icon]="['fas', 'cog']" class="mat-headline"></fa-icon>
      <p>Settings</p>
    </div>

  </div>

  <!-- Run -->
  <div class="controls" fxLayout="row">
    <div routerLink="/results" fxLayout="column" fxLayoutAlign="center center" (click)="Run()">
      <fa-icon [icon]="['fas', 'play']" class="mat-headline"></fa-icon>
      <p>RUN</p>
    </div>
  </div>

</div>
