<h1 mat-dialog-title>Warning! </h1>
<div mat-dialog-content>
  <p>Increasing the cell size will undo all your progress! Proceed?</p>
</div>
<div mat-dialog-actions>
  <button (click)="cancel()" mat-button>Back</button>
  <button mat-button (click)="changeSize()" cdkFocusInitial>Yes</button>
</div>
